# COMPILED
*.o
*.a
*.gcda
*.gcno
*.so
samples
functionnal_tests
# !COMPILED

# BINARY
a.out
my_nm
my_objdump
binaryname
unit_tests
# !BINARY

# TEMPORARY
*#*
*~
*.vscode*
# !TEMPORARY

# MY_THINGS
.notes

file
log
oui
ok
# !MY_THINGS

# ACTUAL PROJECT
*.sh
epitech_docker.sh
# !ACTUAL PROJECT