# COMPILED
*.o
*.a
*.gcda
*.gcno
*.so
samples
functionnal_tests
# !COMPILED

# BINARY
a.out
binaryname
unit_tests
# !BINARY

# TEMPORARY
*#*
*~
*.vscode*
# !TEMPORARY

# MY_THINGS
.notes

file
log
oui
ok
# !MY_THINGS

# ACTUAL PROJECT

# !ACTUAL PROJECT